@import "tailwindcss";

:root{
  --gold:#D4AF37;
  --cream:#FFF8F2;
  --black:#121212;
  --beige:#F8F1E9;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#121212;
  color:white;
  overflow-x:hidden;
  font-family:var(--font-poppins);
}
.gold-text{
  color:#D4AF37;
}
.glass{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(20px);
  border:1px solid rgba(255,255,255,0.08);
}
.luxury-heading{
  font-family:var(--font-playfair);
}
html{
scroll-behavior:smooth;
}
